* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff7700;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.login-section {
    display: flex;
    padding: 100px 0;
    justify-content: center;
    align-items: center;
}

.login-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 35px;
    background-color: #DDDDDDEE;
    border-radius: 8px;
}

.login-area .main-title {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.login-area form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.login-area form input,
.login-area form button {
    border: none;
    outline: none;
    height: 45px;
    color: #FFF;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #888;
    transition: .3s;
}

.login-area form button {
    padding: 0;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #ff7700;
    transition: .05s;
}

.login-area form button:hover {
    background-color: #e96d00;
    transform: scale(1.02);
}

.login-area form button:active {
    transform: scale(0.97);
}

.login-area form input::placeholder {
    color: #bbb
}

.login-area form input:focus {
    outline: 2px solid #ff7700;
    cursor: text;
}

.login-area p {
    margin-top: 15px;
}

.login-area p a {
    color: #e96d00;
    text-decoration: none;
}

/* Index */

.products-section {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 60px 120px;
}

.products-section .products-area {
    width: 90vw;
    height: calc(80vh - 80px);
    border-radius: 8px;
    background-color: #DDDDDDEE;
}