<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nilber</title>

    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <header class="main-header">
        <a href="index.html"class="logo">Nilber</a>

        <nav class="main-nav">
            <a href="" class="main-action">Descontos</a>
            <a href="" class="main-action">Lojas</a>
            <a href="" class="main-action">Login</a>
        </nav>
    </header>

    <main>
        <section class="login-section">
            <div class="login-area">
                <h1 class="main-title">Login</h1>

                <form action="index.html" method="post">
                    <input type="email" name="email" placeholder="Email" autofocus required>
                    <input type="password" name="password" placeholder="Senha" required>
                    <button type="submit">Entrar</button>
                </form>

                <p>Ainda não tem uma conta? <a href="cadastro.html">Criar conta.</a></p>
                <p><a href="recuperar_senha.html">Esqueci minha senha.</a></p>

            </div>
        </section>
    </main>
</body>

</html>