<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nilber</title>

    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <header class="main-header">
        <a href="index.html" class="logo">Nilber</a>

        <nav class="main-nav">
            <a href="" class="main-action">Descontos</a>
            <a href="" class="main-action">Lojas</a>
            <a href="login.html" class="main-action">Login</a>
            <a href="login.html"><img class="avatar" src="../static/images/avatar.svg" alt="Avatar do usuário"></a>
        </nav>
    </header>

    <main>
        <section class="login-section">
            <div class="login-area">
                <h1 class="main-title">Recuperar senha</h1>

                <form action="login.html">
                    <input type="text" name="username" placeholder="Email ou nome" autofocus required>
                    <button type="submit">Redefinir senha</button>
                </form>

                <p>Ainda não tem uma conta? <a href="cadastro.html">Criar conta.</a></p>
            </div>
        </section>
    </main>
</body>

</html>